$inter_font: 'Inter', sans-serif;
$readex_font: 'Readex Pro', sans-serif;
$normal_font: normal;
$black_color: #000000;
$white_color: #FFFFFF;
$main_color: #F5F5F5;
$card_radius: 0.5rem;

@mixin min-screen($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}

.container {
  max-width: 1294px;
}

header {
  .navbar {
    padding: 25px 0;
  }

  .navbar-light .navbar-nav .nav-item {
    @include min-screen(992px) {
      &:last-of-type {
        padding-left: 10px;
      }
      .dropdown-menu {
        left: -142px;
      }
    }

    .nav-link {
      color: $black_color;
      font-family: $inter_font;
      font-style: $normal_font;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      padding-right: 26px;
    }

  }


  .bg-light {
    background-color: $white_color !important;
  }
}

@include min-screen(1041px) {
  .navbar-brand {
    margin-right: 251px;
  }

}


.banner_ground {
  background-color: #DCE5E2;
  border-radius: 32px;
}

.main_banner {
  background-color: $white_color;
  padding-top: 28px;
  padding-bottom: 75px;

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 56px;

    h1 {
      font-family: $readex_font;
      font-style: $normal_font;
      font-weight: 400;
      font-size: 58px;
      line-height: 70px;
      color: $black_color;
      margin-bottom: 19px;
    }

    p {
      font-family: $inter_font;
      font-style: $normal_font;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $black_color;
      margin-bottom: 30px;
    }

    a {
      font-family: $inter_font;
      font-style: $normal_font;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: $black_color;
    }

    .btn {
      padding: 14px 53px;
      border: 1px solid $black_color;
      border-radius: 200px;
    }

    .banner {
      width: 100%;
      height: auto;
    }
  }
}

@include min-screen(600px) {
  .owl-theme .owl-dots .owl-dot span {
    width: 50px;
    height: 2px;
  }

}

@include min-screen(1000px) {
  .owl-theme .owl-dots .owl-dot span {
    width: 194px;
    height: 2px;
  }
  .owl-dots {
    position: absolute;
    left: 25%;
    bottom: 34px;
    z-index: 10;

  }

}


.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: $black_color;
}


.owl-nav .owl-prev {
  position: absolute;
  left: -5px;
  top: 45%;

  &:before {
    font-family: "Font Awesome 6 Free", sans-serif;
    font-weight: 900;
    content: "\f053";
    font-size: 24px;

  }
}

.owl-nav .owl-next {
  position: absolute;
  right: -5px;
  top: 45%;

  &:before {
    font-family: "Font Awesome 6 Free", sans-serif;
    font-weight: 900;
    content: "\f054";
    font-size: 24px;
  }
}

.latest_offers {
  background-color: $white_color;
  padding-bottom: 68px;

  .custom_p {
    @include min-screen(992px){
      padding-right: 8px;
      padding-left: 8px;
    }
  }

  .custom_c {
    p {
      font-family: $inter_font;
      font-style: $normal_font;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      color: $black_color;
      margin-bottom: 0;
    }

    a {
      font-family: $readex_font;
      font-style: $normal_font;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      color: $black_color;
      text-decoration: none;
    }
  }

  .topic {
    h3 {
      font-family: $readex_font;
      font-style: $normal_font;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      color: $black_color;
    }

    p {
      font-family: $readex_font;
      font-style: $normal_font;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $black_color;
      margin-bottom: 55px;
    }
  }

  .shadow {
    -webkit-box-shadow: -2px -2px 20px 10px #CFCFCF;
    box-shadow: -2px -2px 20px 10px #CFCFCF;

    &:hover {
      box-shadow: -2px -2px 20px 10px #000000;
    }
  }

  .card {
    border-radius: $card_radius;
    @include min-screen(1170px) {
      &:hover {
        position: relative;
        top: 30px;
      }
    }


  }

  .c_1 {
    margin-bottom: 11px;
    padding: 0 42px;

    img {
      max-width: 500px;
      object-fit: contain;
    }

  }

  .c_2 {
    background-color: $white_color;
    border-radius: $card_radius;
    padding-right: 42px;
     @include min-screen(1170px) {
      display: flex;
      &:hover {
        position: relative;
        top: 40px;
      }
    }
    @include min-screen(400px) {
      padding-left: 15px;
    }
    @include min-screen(500px) {
      padding-left: 42px;
    }

    img {
      max-width: 260px;
      object-fit: contain;
      @include min-screen(400px) {
        max-width: 381px;
      }
    }

    .custom_c {
      padding: 20px;
      @include min-screen(1170px) {
        padding: 0;
      }
    }
  }

  .c_3 {
    padding: 144px 0 127px 16px;
    margin-top: 11px;
    @include min-screen(992px) {
      margin-top: 0;
    }

    img {
      height: 367px;
      margin-bottom: 21px;
      object-fit: cover;

    }
  }

  .c_4 {
    padding-top: 95px;
    padding-bottom: 79px;
    margin-top: 11px;
    @include min-screen(992px) {
      margin-top: 0;
    }

    img {
      margin-top: 22px;
      height: 425px;
      object-fit: cover;
    }

  }
}

.save_selled {
  background-color: $white_color;
  padding-bottom: 74px;

  h3 {
    font-family: $readex_font;
    font-style: $normal_font;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: $black_color;
    margin-bottom: 9px;
  }

  p {
    font-family: $readex_font;
    font-style: $normal_font;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: $black_color;
    margin-bottom: 59px;
  }

  .card {
    border: none;
    min-height: 400px;
    background-color: #F8F9FA;;
    border-radius: 16px;
    margin-top: 11px;
    @include min-screen(992px) {
      margin-top: 0;
    }
    @include min-screen(1170px) {
      &:hover {
        position: relative;
        top: 30px;
      }
    }

    img {
      width: 247px;
      object-fit: cover;
      margin-top: 28px;
    }

    .card-body {
      padding-top: 35px;


      a {
        font-family: $readex_font;
        font-style: $normal_font;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: $black_color;
        margin-top: 9px;
      }

      .card-description {
        margin-top: 9px;
        min-height: 81px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      p {
        font-family: $inter_font;
        font-style: $normal_font;
        font-weight: 400;
        margin-bottom: 0;

        &:first-of-type {
          font-size: 14px;
          line-height: 17px;
          color: #4B4B4B;
        }

        &:last-of-type {
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: $black_color;
        }
      }
    }
  }
}

.see-best {
  background-color: $white_color;
  padding-bottom: 28px;

  h3 {
    font-family: $readex_font;
    font-style: $normal_font;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: $black_color;
    margin-bottom: 9px;
  }

  p {
    font-family: $readex_font;
    font-style: $normal_font;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: $black_color;
    margin-bottom: 56px;
  }


  .card {
    background: #F8F9FA;
    border-radius: 16px;
    border-color: #F8F9FA;
    @include min-screen(1170px) {
      &:hover {
        position: relative;
        top: 30px;
      }
    }

    img {
      height: 250px;
      object-fit: contain;
      margin-top: 10px;
    }

    .card-body {
      padding-top: 41px;

      p {
        margin-bottom: 0;
      }

      h5 {
        font-family: $readex_font;
        font-style: $normal_font;
        font-weight: 400;
        font-size: 28px;
        line-height: 35px;
        color: $black_color;
        margin-bottom: 30px;
      }

      a {
        font-family: $inter_font;
        font-style: $normal_font;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-transform: capitalize;
        color: $black_color;
      }

      .btn {
        padding: 14px 63px;
        border: 1px solid $black_color;
        border-radius: 200px;
      }
    }
  }
}

.ideas {
  padding-top: 47px;
  padding-bottom: 24px;
  background-color: $white_color;

  h3 {
    font-family: $readex_font;
    font-style: $normal_font;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: $black_color;
    margin-bottom: 9px;
  }

  p {
    font-family: $readex_font;
    font-style: $normal_font;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: $black_color;
    margin-bottom: 56px;
  }

  .description {
    padding-top: 14px;

    p {
      font-family: $inter_font;
      font-style: $normal_font;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      color: $black_color;
      margin-bottom: 28px;
    }
  }

  a {
    font-family: $inter_font;
    font-style: $normal_font;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: $black_color;

    &:after {
      content: url("../images/arrow.svg");
      position: relative;
      top: 6px;
    }

  }

  img {
    width: 100%;
    object-fit: cover;
  }
}


.looking-for {
  padding-top: 51px;
  padding-bottom: 19px;
  background-color: $white_color;

  h3 {
    font-family: $readex_font;
    font-style: $normal_font;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: $black_color;
    margin-bottom: 24px;
  }

  form {
    margin-bottom: 18px;

    .search-box {
      width: 90%;
      padding: 8px 21px 18px;
      background: #F8F9FA;
      border: 1px solid #C5C5C5;
      border-radius: 100px;


      i {
        font-size: 30px;
        position: relative;
        top: 7px;
      }

      input {
        outline: none;
        border: none;
        font-family: $inter_font;
        font-style: $normal_font;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $black_color;
        width: 75%;
        background: #F8F9FA;
      }

    }

  }

  .links {
    width: 90%;
    padding-bottom: 68px;

    a {
      margin: 0 3.5px 7px;
      padding: 12px 22px 13px;
      border: 1px solid #C5C5C5;
      border-radius: 200px;
      font-family: $inter_font;
      font-style: $normal_font;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $black_color;
    }
  }

  .col-md-9 {
    background-color: #DCE5E2;
    border-radius: 16px;
    padding-top: 47px;
    padding-bottom: 43px;

    h3 {
      font-family: $readex_font;
      font-style: $normal_font;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      color: $black_color;
      margin-bottom: 9px;
    }

    p {
      font-family: $inter_font;
      font-style: $normal_font;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $black_color;
      margin-bottom: 14px;
    }

    img {
      padding-bottom: 14px;
      object-fit: none;
    }

    .email_box {
      input {
        background-color: #DCE5E2;
        box-sizing: border-box;
        width: 200px;
        height: 50px;
        border: 1px solid $black_color;
        border-radius: 54px 0 0 54px;
        padding-left: 32px;
        font-family: $inter_font;
        font-style: $normal_font;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $black_color;
        outline-color: $black_color;
        @include min-screen(540px) {
          width: 285px;
        }
      }

      button {
        box-sizing: border-box;
        width: 115px;
        border: 1px solid $black_color;
        border-radius: 0 54px 54px 0;
        font-family: $inter_font;
        font-style: $normal_font;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
      }
    }
  }
}

footer {
  background-color: #F8F9FA;
  padding-top: 44px;
  padding-bottom: 4px;

  .col-lg-4 {
    padding-top: 11px;

    img {
      margin-bottom: 18px;
    }

    p {
      max-width: 304px;
      font-family: $inter_font;
      font-style: $normal_font;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $black_color;
    }
  }

  .col-lg-2 {
    ul {
      list-style-type: none;

      li {
        margin-bottom: 14px;

        a {
          text-decoration: none;
          font-family: $inter_font;
          font-style: $normal_font;
          font-weight: 400;
          font-size: 17px;
          line-height: 22px;
          color: $black_color;
        }

        &:first-of-type {
          margin-bottom: 19px;
          font-family: $readex_font;
          font-style: $normal_font;
          font-weight: 400;
          font-size: 22px;
          line-height: 28px;
          color: $black_color;
        }

        &:last-of-type {
          margin-bottom: 64px;
        }


      }

    }
  }

  .line {
    height: 1px;
    background-color: #DCE5E2;
  }

  .col-md-12 {
    @include min-screen(440px) {
      display: flex;
    }

    a {
      margin-bottom: 0;
      display: block;
      font-family: $readex_font;
      font-style: $normal_font;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: $black_color;

      span {
        font-family: $inter_font;
        font-size: 18px;
        line-height: 22px;
      }

      &:after {
        content: url("../images/arrow.svg");
        position: relative;
        top: 7px;
      }
    }
  }

}



