.container {
  max-width: 1294px;
}

header .navbar {
  padding: 25px 0;
}
@media screen and (min-width: 992px) {
  header .navbar-light .navbar-nav .nav-item:last-of-type {
    padding-left: 10px;
  }
  header .navbar-light .navbar-nav .nav-item .dropdown-menu {
    left: -142px;
  }
}
header .navbar-light .navbar-nav .nav-item .nav-link {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding-right: 26px;
}
header .bg-light {
  background-color: #FFFFFF !important;
}

@media screen and (min-width: 1041px) {
  .navbar-brand {
    margin-right: 251px;
  }
}
.banner_ground {
  background-color: #DCE5E2;
  border-radius: 32px;
}

.main_banner {
  background-color: #FFFFFF;
  padding-top: 28px;
  padding-bottom: 75px;
}
.main_banner .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 56px;
}
.main_banner .description h1 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 19px;
}
.main_banner .description p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 30px;
}
.main_banner .description a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
}
.main_banner .description .btn {
  padding: 14px 53px;
  border: 1px solid #000000;
  border-radius: 200px;
}
.main_banner .description .banner {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 600px) {
  .owl-theme .owl-dots .owl-dot span {
    width: 50px;
    height: 2px;
  }
}
@media screen and (min-width: 1000px) {
  .owl-theme .owl-dots .owl-dot span {
    width: 194px;
    height: 2px;
  }
  .owl-dots {
    position: absolute;
    left: 25%;
    bottom: 34px;
    z-index: 10;
  }
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #000000;
}

.owl-nav .owl-prev {
  position: absolute;
  left: -5px;
  top: 45%;
}
.owl-nav .owl-prev:before {
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 900;
  content: "\f053";
  font-size: 24px;
}

.owl-nav .owl-next {
  position: absolute;
  right: -5px;
  top: 45%;
}
.owl-nav .owl-next:before {
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 900;
  content: "\f054";
  font-size: 24px;
}

.latest_offers {
  background-color: #FFFFFF;
  padding-bottom: 68px;
}
.latest_offers .custom_p {
  padding-right: 8px;
  padding-left: 8px;
}
.latest_offers .custom_c p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 0;
}
.latest_offers .custom_c a {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  text-decoration: none;
}
.latest_offers .topic h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
}
.latest_offers .topic p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 55px;
}
.latest_offers .shadow {
  -webkit-box-shadow: -2px -2px 20px 10px #CFCFCF;
  box-shadow: -2px -2px 20px 10px #CFCFCF;
}
.latest_offers .shadow:hover {
  box-shadow: -2px -2px 20px 10px #000000;
}
.latest_offers .card {
  border-radius: 0.5rem;
}
@media screen and (min-width: 1170px) {
  .latest_offers .card:hover {
    position: relative;
    top: 30px;
  }
}
.latest_offers .c_1 {
  margin-bottom: 11px;
  padding: 0 42px;
}
.latest_offers .c_1 img {
  max-width: 500px;
  object-fit: contain;
}
.latest_offers .c_2 {
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  padding-right: 42px;
}
@media screen and (min-width: 1170px) {
  .latest_offers .c_2 {
    display: flex;
  }
  .latest_offers .c_2:hover {
    position: relative;
    top: 40px;
  }
}
@media screen and (min-width: 400px) {
  .latest_offers .c_2 {
    padding-left: 42px;
  }
}
.latest_offers .c_2 img {
  max-width: 260px;
  object-fit: contain;
}
@media screen and (min-width: 400px) {
  .latest_offers .c_2 img {
    max-width: 381px;
  }
}
.latest_offers .c_2 .custom_c {
  padding: 20px;
}
@media screen and (min-width: 1170px) {
  .latest_offers .c_2 .custom_c {
    padding: 0;
  }
}
.latest_offers .c_3 {
  padding: 144px 0 127px 16px;
}
.latest_offers .c_3 img {
  height: 367px;
  margin-bottom: 21px;
  object-fit: cover;
}
.latest_offers .c_4 {
  padding-top: 95px;
  padding-bottom: 79px;
}
.latest_offers .c_4 img {
  margin-top: 22px;
  height: 425px;
  object-fit: cover;
}

.save_selled {
  background-color: #FFFFFF;
  padding-bottom: 74px;
}
.save_selled h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
  margin-bottom: 9px;
}
.save_selled p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 59px;
}
.save_selled .card {
  border: none;
  min-height: 400px;
  background-color: #F8F9FA;
  border-radius: 16px;
}
@media screen and (min-width: 1170px) {
  .save_selled .card:hover {
    position: relative;
    top: 30px;
  }
}
.save_selled .card img {
  width: 247px;
  object-fit: cover;
  margin-top: 28px;
}
.save_selled .card .card-body {
  padding-top: 35px;
}
.save_selled .card .card-body a {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-top: 9px;
}
.save_selled .card .card-body .card-description {
  margin-top: 9px;
  min-height: 81px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.save_selled .card .card-body p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
}
.save_selled .card .card-body p:first-of-type {
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
}
.save_selled .card .card-body p:last-of-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.see-best {
  background-color: #FFFFFF;
  padding-bottom: 28px;
}
.see-best h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
  margin-bottom: 9px;
}
.see-best p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 56px;
}
.see-best .card {
  background: #F8F9FA;
  border-radius: 16px;
  border-color: #F8F9FA;
}
@media screen and (min-width: 1170px) {
  .see-best .card:hover {
    position: relative;
    top: 30px;
  }
}
.see-best .card img {
  height: 250px;
  object-fit: contain;
  margin-top: 10px;
}
.see-best .card .card-body {
  padding-top: 41px;
}
.see-best .card .card-body p {
  margin-bottom: 0;
}
.see-best .card .card-body h5 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #000000;
  margin-bottom: 30px;
}
.see-best .card .card-body a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
}
.see-best .card .card-body .btn {
  padding: 14px 63px;
  border: 1px solid #000000;
  border-radius: 200px;
}

.ideas {
  padding-top: 47px;
  padding-bottom: 24px;
  background-color: #FFFFFF;
}
.ideas h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
  margin-bottom: 9px;
}
.ideas p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 56px;
}
.ideas .description {
  padding-top: 14px;
}
.ideas .description p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 28px;
}
.ideas a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #000000;
}
.ideas a:after {
  content: url("../images/arrow.svg");
  position: relative;
  top: 6px;
}
.ideas img {
  width: 100%;
  object-fit: cover;
}

.looking-for {
  padding-top: 51px;
  padding-bottom: 19px;
  background-color: #FFFFFF;
}
.looking-for h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
  margin-bottom: 24px;
}
.looking-for form {
  margin-bottom: 18px;
}
.looking-for form .search-box {
  width: 90%;
  padding: 8px 21px 18px;
  background: #F8F9FA;
  border: 1px solid #C5C5C5;
  border-radius: 100px;
}
.looking-for form .search-box i {
  font-size: 30px;
  position: relative;
  top: 7px;
}
.looking-for form .search-box input {
  outline: none;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 75%;
  background: #F8F9FA;
}
.looking-for .links {
  width: 90%;
  padding-bottom: 68px;
}
.looking-for .links a {
  margin: 0 3.5px 7px;
  padding: 12px 22px 13px;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.looking-for .col-md-9 {
  background-color: #DCE5E2;
  border-radius: 16px;
  padding-top: 47px;
  padding-bottom: 43px;
}
.looking-for .col-md-9 h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
  margin-bottom: 9px;
}
.looking-for .col-md-9 p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 14px;
}
.looking-for .col-md-9 img {
  padding-bottom: 14px;
  object-fit: none;
}
.looking-for .col-md-9 .email_box input {
  background-color: #DCE5E2;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 54px 0 0 54px;
  padding-left: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  outline-color: #000000;
}
@media screen and (min-width: 540px) {
  .looking-for .col-md-9 .email_box input {
    width: 285px;
  }
}
.looking-for .col-md-9 .email_box button {
  box-sizing: border-box;
  width: 115px;
  border: 1px solid #000000;
  border-radius: 0 54px 54px 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

footer {
  background-color: #F8F9FA;
  padding-top: 44px;
  padding-bottom: 4px;
}
footer .col-lg-4 {
  padding-top: 11px;
}
footer .col-lg-4 img {
  margin-bottom: 18px;
}
footer .col-lg-4 p {
  max-width: 304px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
footer .col-lg-2 ul {
  list-style-type: none;
}
footer .col-lg-2 ul li {
  margin-bottom: 14px;
}
footer .col-lg-2 ul li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}
footer .col-lg-2 ul li:first-of-type {
  margin-bottom: 19px;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}
footer .col-lg-2 ul li:last-of-type {
  margin-bottom: 64px;
}
footer .line {
  height: 1px;
  background-color: #DCE5E2;
}
@media screen and (min-width: 440px) {
  footer .col-md-12 {
    display: flex;
  }
}
footer .col-md-12 a {
  margin-bottom: 0;
  display: block;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
footer .col-md-12 a span {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 22px;
}
footer .col-md-12 a:after {
  content: url("../images/arrow.svg");
  position: relative;
  top: 7px;
}

/*# sourceMappingURL=style.css.map */
